@media only screen and (min-width: 1520px) {
    #main, #gifts {
        background-size: cover;
    }   
}

@media only screen and (max-width: 1199px) {
    #invitation-content-up-maintext {
        margin-right: 0;
    }

    #invitation-content-down {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1023px) {
    #main-header-menu {
        justify-content: space-between;
    }

    #invitation-content {
        padding-bottom: 0px;
    }
    
    #invitation-content-up {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    #invitation-content-up-maintext {
        margin-bottom: 30px;
        text-align: center;
    }

    #invitation-content-up-rings {
        margin-right: 0px;
    }

    #invitation-content-down {
        text-align: center;
    }

    #gifts-container-wish {
        width: 500px;
    }

    #plan-container {
        flex-direction: column;
        justify-content: center;
    }

    #color-container-uptext, #color-container-downtext {
        text-align: center;
    }

    #color-container-colorsblock {
        flex-direction: column;
        justify-content: center;
    }

    .color-container-colorsblock-element {
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .lv {
        height: 200px;
    }

    #plan-container-right {
        margin-top: 30px;
        margin-right: 0px;
    }

    #plan-container-right-title {
        text-align: center;
    }

    #plan-container-right-content {
        margin-top: 30px;
    }
    
}

@media only screen and (max-width: 767px) {

    .initials {
        width: 100px;
        height: auto;
    }

    #main {
        background-image: url(images/bc-phone.png);
        background-size: 422px auto;
    }

    #main-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitle1 {
        margin: 35px 0px;
    }

    #main-title {
        margin: 90px 0px;
        /* width: 300px; */
        background-color: rgba(1, 72, 42, 0.3);
    }

    .subtitle2 {
        margin: 35px 0px;
    }

    .subtitle1, .subtitle2 {
        font-size: 24px;
    }

    #main-header-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #main-header-logo {
        margin-left: 0px;
    }

    #main-header-menu a.menu-item {
        text-align: center;
        margin-right: 0px;
    }

    #invitation-counter-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .invitation-counter-text {
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #invitation-content-up-maintext {
        width: 400px;
    }

    #invitation-content-down {
        margin: 0px 10px;
    }

    #gifts-container-wish {
        width: 280px;
    }

    #gifts-container-wish-text {
        font-size: 24px;
    }

    #gifts-container-title {
        font-size: 64px;
    }

    .lv {
        height: 150px;
    }

    #plan-container-right-content {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 424px) {

    #invitation-content-up-maintext {
        width: 350px;
    }

    #invitation-content-down {
        margin: 0px;
    }

    #gifts-container-title {
        font-size: 56px;
    }
}

@media only screen and (max-width: 374px) {

    #main-header-menu a.menu-item {
        font-size: 14px;
    }

    #invitation-content-up-maintext {
        width: 300px;
        font-size: 56px;
    }

    #gifts-container-title {
        font-size: 48px;
        margin: 5px;
    }

    #gifts-container-wish {
        width: 230px;
    }

    .plan-container-element {
        font-size: 14px;
    }
}