.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
}
  
body {
    margin: 0;
    font-family: "Playfair Display", serif;
}

hr {
    color: rgba(8, 87, 1, 0.5);
    padding: 0px;
    margin: 0px;
}

#main {
    background-image: url("images/cover.jpg");
    background-size: 1520px 110%;
    background-position: center;
    padding-bottom: 50px;
}

#main-container {
    max-width: 1170px;
    margin: 0 auto;
}

#main-header {
    background-color: rgba(1, 72, 42, 0.5);
}

#main-header-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    max-width: 1170px;
    margin: 0 auto;
}

#main-header-logo {
    margin-left: 60px;
}

#main-header-menu {
    display: flex;
    justify-content: center;
}

#main-header-menu a.menu-item {
    font-size: 18px;
    color: white;
    margin-right: 30px;
    padding: 5px 10px;
    text-decoration: none;
}

#main-header-menu a.menu-item:hover {
    border-bottom: 2px solid white;
}

#main-content {
    margin-top: 181px;
}

.subtitle1, .subtitle2 {
    font-size: 36px;
    color: white;
    text-align: center;
}

.subtitle1 {
    margin-top: 200px;
    margin-bottom: 100px;
}

.subtitle2 {
    margin-top: 100px;
    margin-bottom: 200px;
}

#main-title {
    
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    text-align: center;
    color: white;
    background-color: rgba(1, 72, 42, 0.5);
  }


#invitation-container {
    max-width: 1170px;
    margin: 0 auto;
}

#invitation-counter {
    background-color:rgba(1, 72, 42, 0.5);
}

#invitation-counter-container {
    display: flex;
    justify-content: flex-start;
    max-width: 1170px;
    margin: 0 auto;
}

.invitation-counter-text {
    color: white;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#invitation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

#invitation-content-up {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
}

#invitation-content-up-maintext {
    font-size: 64px;
    color: #01482A;
    width: 570px;
    margin-right: 250px;
}

#invitation-content-up-rings {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

#invitation-content-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#invitation-content-down-text {
    font-size: 24px;
    color: #01482A;
    margin-bottom: 73px;
}

#form-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glasses {
    width: 140px;
    margin: 40px;
}

.form-container-text {
    padding: 0px 10px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #01482A;
}

#form-container-btn {
    background-color: #085701;
    padding: 20px;
    font-size: 24px;
    border-radius: 20px;
    margin-bottom: 50px;
}

#form-container-btn-text {
    color: white;
    text-decoration: none;
}

#gifts {
    background-image: url("images/background.jpg");
    background-size: 1520px 100%;
    background-position: center;
    padding-bottom: 50px;
}

#gifts-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gifts-container-title {
    color: #085701;
    font-size: 96px;
    margin: 40px;
    text-align: center;
}

#gifts-container-wish {
    background-color: rgba(1, 72, 42, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding: 70px 45px;
}

#gifts-container-wish-text {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 50px;
}

#color {
    margin: 30px;
    background-color: rgba(1, 72, 42, 0.1);
}

#color-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#01482A;
    font-size: 24px;
}

#color-container-uptext{
    margin-top: 40px;
    margin-bottom: 40px;
}

#color-container-colorsblock {
    display: flex;
    justify-content: center;
}

.color-container-colorsblock-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 30px;
}

.color-container-colorsblock-element-pic {
    margin-right: 10px;
}

.color-pic {
    width: 170px;
    height: 90px;
}

.color-container-colorsblock-element-col {
    text-align: center;
    width: 220px;
}

#color-container-downtext {
    margin-bottom: 40px;
}

#plan {
    margin: 30px;
    padding-top: 60px;
    background-color: rgba(1, 72, 42, 0.1);
}

#plan-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lv {
    height: 577px;
}

#plan-container-right {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    justify-content: flex-start;
}

#plan-container-right-title {
    font-size: 48px;
    color: #01482A;
}

#plan-container-right-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.plan-container-element-text {
    display: flex;
    flex-direction: column;
}

.plan-container-element {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #01482A;
    margin-bottom: 50px;
}

.plan-container-element-time {
    margin-right: 80px;
}

.plan-container-subelement {
    font-size: 14px;
}