.fisrt-page__count {
    font-size: 40px;
    color: white;
    background-color: rgba(1, 72, 42, 0.5);
    padding: 1% 2%;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Regular', serif;
}

header {
    background-image: url("cover.jpg");
    background-size: 100% 100%;
    /* width: 100%;
    height: 100vh; */
    /* padding-bottom: 30%; */
}

nav {
    background-color: rgba(1, 72, 42, 0.5);
    font-size: 32px;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0% 5% 0% 5%;
}

nav img {
    width: 130px;
    height: 130px;
}


.cover__h2 {
    font-size: 24;
    color: white;
    text-align: center;
}

.cover__h1 {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    text-align: center;
    color: white;
    background-color: rgba(1, 72, 42, 0.5);
  }
  

.page {
    background-image: url("background.jpg");
    background-size: 100% 100%;
    padding-bottom: 3%;
}

.fisrt-page__text {
    font-size: 24px;
    color: #01482A;
    margin-bottom: 0%;
    margin-left: 2%;
    padding: 1% 0%;
    text-align: center;
}

/* .m-text {
    padding: 1% 3% 1% 3%;
} */

hr {
    background-color: rgba(8, 81, 1, 0.4);
    border-right-width: 0px;
    border-left-width: 0px;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px 0px;
}


.fisrt-page__content {
    display: flex;
    flex-direction: column;
}

.fisrt-page__rings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fisrt-page__rings-img {
    width: 20%;
    height: 20%;
    margin: 1.5%;
}

.second-page__h1 {
    margin: 0%;
    font-size: 56px;
    text-align: center;
    color: #085701;
    padding: 3%;
}

hr {
    margin: 0%;
    padding: 0%;
}

.second-page__content {
    background-color: rgba(1, 72, 42, 0.5);
    margin: 4%;
    padding: 3%;
}

.second-page__content {
    color: white;
    text-align: center;
    font-size: 32px;
    line-height: 65px;
}